@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
}

.input {
  @apply w-full border p-2 rounded;
}

.btn {
  @apply bg-blue-600 text-white py-2 rounded hover:bg-blue-700;
}

